<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ranga.movies">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="My Favourite Movies">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddMovie" android:label="Add Movie"/>
        <activity android:name=".EditActivity" android:label="Edit Movie"/>
        <activity android:name=".MovieByYear" android:label="Movies by Year">
            <intent-filter>
                <action android:name="com.example.ranga.movies.intent.action.VIEW_SY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".MovieByRating" android:label="Movies by Rating">
            <intent-filter>
                <action android:name="com.example.ranga.movies.intent.action.VIEW_SR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>